SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVua2dnb296c3Z2a2diamVnaGJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk0ODMxMTcsImV4cCI6MjEwNTA1OTExN30.BAerdmAUWGUAEJ8OVxF-V6KQCGA1ja2VjnVARmufCWE
SUPABASE_URL=https://enkggoozsvvkgbjeghbf.supabase.co
GEMINI_API_KEY=AQ.Ab8RN6Kn26I5PE4WcixQCsRWh46ZzC_-EAVim9kg9Ipv7pm3cg
